.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Left panel container */
.event-list-container {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  padding: 2rem;
  background-color: #f9f9f9;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}

/* Event card style */
.event-card {
  background: #f0f6ff;
  border-left: 4px solid transparent;
  padding: 1rem 1.25rem;
  margin-bottom: 0rem;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-bottom: 1px solid #e5e7eb;
}

.event-card:hover {
  background-color: #f9fafb;
}

.event-card.active {
  border-left: 4px solid #007bff;
  background: #fff;;
}

.event-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 0.3rem;
}

.event-sub {
  font-size: 0.95rem;
  color: #555;
  margin: 0;
}